<nav class="navbar navbar-dark bg-primary navbar-expand-sm">
    <div class="container">
    <a href="{{ path('homepage') }}" class="navbar-brand">ZamZum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
        <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav ml-auto">
            {% if app.user.username is defined  %}
            <li class="nav-item">
                <a  class="nav-link" href="{{ path("upload") }}"><i class="fas fa-upload"></i> Upload</a>

            </li>
                <li class="nav-item">
                    <a  class="nav-link" href="{{ path("dashboard") }}">MyChannel</a>

                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="{{ path("logout") }}">Logout</a>
                </li>

                    
            {% else %}
            <li class="nav-item">
                <a href="{{ path('login') }}" class="nav-link">SignIn</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('register') }}" class="nav-link">SignUp</a>
            </li>
            {% endif %}
                
        </ul>
    </div>
</div>
</nav>